# Correct clock rate for serial output
CONFIG_XTAL_FREQ_26=y

# GPS Config
CONFIG_NMEA_PARSER_UART_RXD=18
CONFIG_NMEA_STATEMENT_GGA=y
CONFIG_NMEA_STATEMENT_GSA=y
CONFIG_NMEA_STATEMENT_GSV=y
CONFIG_NMEA_STATEMENT_RMC=y
CONFIG_NMEA_STATEMENT_GLL=n
CONFIG_NMEA_STATEMENT_VTG=n

# Lora
CONFIG_CS_GPIO=13
# Change RST to esp RST
CONFIG_RST_GPIO=35
CONFIG_MISO_GPIO=14
CONFIG_MOSI_GPIO=12
CONFIG_SCK_GPIO=27
