[submodule "pico-prototype/pico-sdk"]
	path = pico-prototype/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico-prototype/picotool"]
	path = pico-prototype/picotool
	url = https://github.com/raspberrypi/picotool
[submodule "esp32-prototype/esp-idf"]
	path = esp32-prototype/esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "esp32-prototype/simple_radiolib/RadioLib"]
	path = esp32-prototype/simple_radiolib/components/RadioLib
	url = https://github.com/jgromes/RadioLib.git
[submodule "esp32-prototype/simple_radiolib/components/RadioLib"]
	path = esp32-prototype/simple_radiolib/components/RadioLib
	url = https://github.com/jgromes/RadioLib.git
[submodule "esp32-prototype/imu_serial/components/esp-mpu9250"]
	path = esp32-prototype/imu_serial/components/esp-mpu9250
	url = https://git.sr.ht/~truita/esp-mpu9250
