# Correct clock rate for serial output
CONFIG_XTAL_FREQ_26=y

# GPS Config
CONFIG_NMEA_PARSER_UART_RXD=18
CONFIG_NMEA_STATEMENT_GGA=y
CONFIG_NMEA_STATEMENT_GSA=y
CONFIG_NMEA_STATEMENT_GSV=y
CONFIG_NMEA_STATEMENT_RMC=y
CONFIG_NMEA_STATEMENT_GLL=n
CONFIG_NMEA_STATEMENT_VTG=n

# Screen Config
CONFIG_LV_CONF_SKIP=y
CONFIG_LV_USE_OBSERVER=y
CONFIG_LV_USE_SYSMON=y
CONFIG_EXAMPLE_LCD_CONTROLLER_GC9A01=y
